In [1]:
#pattern
#    1
#    1 2
#    1 2 3
#    1 2 3 4
#    1 2 3 4 5

In [2]:
n=int(input("How many rows you want? -  "))

How many rows you want? -  5

In [3]:
def right_tri_num(x):
    for i in range(1,x+1):
        for j in range(1,i+1):
            print(j,end='')
        print(end='\n')

right_tri_num(n)

1
12
123
1234
12345

In [4]:
#pattern
#    1
#    2 1
#    3 2 1
#    4 3 2 1
#    5 4 3 2 1

In [5]:
def right_tri_num_dec(x):
    for i in range(1,x+1):
        for j in range(i,0,-1):
            print(j,end='')
        print(end='\n')

right_tri_num_dec(n)

1
21
321
4321
54321

In [6]:
#pattern
#    1
#    2 2
#    3 3 3
#    4 4 4 4
#    5 5 5 5 5

In [7]:
def Rtri_same_num_inc(x):
    for i in range(1,x+1):
        print(str(i)*i,end='\n')
        
Rtri_same_num_inc(n)

1
22
333
4444
55555

In [8]:
#pattern
#    5
#    4 4
#    3 3 3
#    2 2 2 2
#    1 1 1 1 1

In [9]:
def Rtri_same_num_dec(x):
    for i in range(x,0,-1):
        print(str(i)*(x-i+1),end='\n')
            
Rtri_same_num_dec(n)

5
44
333
2222
11111

In [10]:
#pattern
#    5
#    5 4
#    5 4 3
#    5 4 3 2
#    5 4 3 2 1

In [11]:
def Rtri_dec_step(x):
    for i in range(x,0,-1):
        for j in range(x,(i-1),-1):
            print(j,end='')
        print(end='\n')
        
Rtri_dec_step(n)

5
54
543
5432
54321

In [12]:
#pattern
#    5
#    4 5
#    3 4 5
#    2 3 4 5
#    1 2 3 4 5

In [14]:
def Rtri_dec_inc_step(x):
    for i in range(x,0,-1):
        for j in range(i,x+1):
            print(j,end='')
        print(end='\n')

Rtri_dec_inc_step(n)

5
45
345
2345
12345

In [ ]:
#pattern

#     1
#    12
#   123
#  1234
# 12345

In [26]:
def Ltri_inc(x):
    for i in range(1,x+1):
        print(" "*(x-i),end='')
        for j in range(1,i+1):
            print(j,end='')
        print(end='\n')
    
Ltri_inc(n)

    1
   12
  123
 1234
12345

In [ ]:
#pattern

#    5
#   54
#  543
# 5432
#54321

In [33]:
def Ltri_dec(x):
    for i in range(1,x+1):
        print(" "*(x-i),end='')
        for j in range(x,x-i,-1):
            print(j,end='')
        print(end='\n')

Ltri_dec(n)

    5
   54
  543
 5432
54321

In [ ]:
#pattern

#    1
#   21
#  321
# 4321
#54321

In [31]:
def Ltri_dec(x):
    for i in range(1,x+1):
        print(" "*(x-i),end='')
        for j in range(i,0,-1):
            print(j,end='')
        print(end='\n')

Ltri_dec(n)

    1
   21
  321
 4321
54321

In [ ]:
#pattern

#    1
#   22
#  333
# 4444
#55555

In [42]:
def Ltri_inc_same(x):
    for i in range(1,x+1):
        print(" "*(x-i),(str(i)*i))
    print(end='\n')
        
Ltri_inc_same(n)

     1
    22
   333
  4444
 55555

In [ ]:
#pattern

#    5
#   44
#  333
# 2222
#11111

In [46]:
def Ltri_dec_same(x):
    j=x
    for i in range(1,x+1):
        print(" "*(x-i),str(j)*i,end='\n')
        j-=1
        
Ltri_dec_same(n)

     5
    44
   333
  2222
 11111