In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame( [[1,2],[3,4],[5,6]] , columns= ['Odd' , 'Even'])
df1

   Odd  Even
0    1     2
1    3     4
2    5     6

In [3]:
prime=[2,3,5]
df1['Prime']=prime
df1

   Odd  Even  Prime
0    1     2      2
1    3     4      3
2    5     6      5

In [4]:
df1.drop('Even' , axis = 1 , inplace = True)
df1

   Odd  Prime
0    1      2
1    3      3
2    5      5

In [5]:
ind=[1,2,3]
df1['index']=ind
df1

   Odd  Prime  index
0    1      2      1
1    3      3      2
2    5      5      3

In [6]:
df1.set_index('index' , inplace=True)
df1

   Odd  Prime  index
0    1      2      1
1    3      3      2
2    5      5      3